.journal__main-content{
    display: flex;
}


.journal__sidebar{
    animation: fadein .5s ease-in alternate;
    background-color: $dark-grey;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
}
.journal__sidebar-button{
    display: none;
}
.fa-save{
    width: 20px;
}
.journal__sidebar-close{
    display: none;
}
.journal__sidebar-navbar{
    display: flex;
    padding: 1em;
    justify-content: space-between;
}
.journal__sidebar-navbar h3{
    text-transform: capitalize;
    font-weight: bolder;
}
.journal__sidebar-avatar{
    width:70px;
}
.journal__sidebar-avatar img{
    width: 100%;
    filter: (drop-shadow( 0 2px 3px rgba(26, 25, 25, 0.527)));
    border-radius: 50%;
}
.journal__sidebar-navbar h3{
    font-weight: lighter;
}
.btn__logout{
    font-size: large;
}
.journal__new-entry{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    transition: color  .3 ease-in;
    position: relative;
    &:hover{
        color: darken($color: $white, $amount: 20);
    }
}
.journal__entries{
    flex: 1 1 auto;
    padding-right: .2em;
    margin-top: 30px;
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background: rgb(197, 193, 193);
        border-radius: 5px;
    }
}
.journal__entry{
    background-color: $white;
    border-radius: 4px;
    color: $dark-grey;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    transition: background .3s ease-in;
    &:hover{
        background: darken($color: $white, $amount: 30);
    }
}
.journal__entry--picture{
    height: 100px;
    width: 140px;
}
.journal_entry-body{
    padding: 10px;
    width: 150px;
}
.jounal__entry-title{
    font-size: large;
    font-weight: bold;
    height: 1em;
    overflow: hidden;
    margin-bottom: 10px
    
}
.journal__entry-content{
    font-size:smaller;
    overflow: hidden;
    height:33px;

}
.journal__entry-data-box{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.journal__entry-data-box h5{
    margin: auto;
    font-size: 12px;
}

@media screen and (max-width:363px){
    .journal__sidebar{
        background-color: $dark-grey;
        color: $white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        max-width: 19em;
        z-index: 1000;
    }
    .journal__sidebar-button{
        right:1em;
        font-size: x-large;
        bottom: 1em;
        display: flex;
        position: absolute;
    }
    .journal__sidebar-close{
        align-items: center;
        background: $primary;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
        justify-content: center;
        left: 20.2em;
        height: 2em;
        display: flex;
        position: absolute;
        top: 50%;
        width: 1.5em;
    }
}
@media screen and (max-width:768px){
    .journal__sidebar{
        background-color: $dark-grey;
        color: $white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        max-width: 19em;
        z-index: 1000;
    }
    .journal__sidebar-button{
        right:1em;
        font-size: x-large;
        bottom: 1em;
        display: flex;
        position: absolute;
    }
    .journal__sidebar-close{
        align-items: center;
        background: $primary;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
        justify-content: center;
        left: 20.2em;
        height: 2em;
        display: flex;
        position: absolute;
        top: 50%;
        width: 1.5em;
    }
}