.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.notes__appbar{
    align-items: center;
    background: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}
.notes__appbar-date{
    font-weight: bold;
}
.notes__appbar-buttons{
    display: flex;
    align-items: center;
}
.fa-save{
    font-size: 23px;
}
.notes__appbar-dropMenu{
    position: relative;
    padding: 5px;
    &:hover{
        background: rgba(199, 199, 199, 0.568);
        border-radius: 5px;
    }
}
#dropicon{
    height: 30px;
}
.notes__appbar-menu{
    background: rgba(63, 63, 63, 0.568);
    padding: 0;
    padding: 1em;
    position: absolute;
    right: .2em;
}
.notes__appbar-ul{
    list-style: none;
}
.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}
.notes__title-input, .notes__textarea{
    border: none;

    &:focus{
        outline: none;
    }
}
.notes__title-input{
    color: $dark-grey;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.notes__textarea{
    border: none;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}
.notes__image{
    margin: auto;
    max-width: 120px;
}
.notes__image img{
    box-shadow: 5px 5px $dark-grey;
    width: 100%;
    height: 100%;
}